
@using System.Web.Script.Serialization
@using LMGEDIApp.Infrastructure.Global;

@{
    ViewBag.Title = "__AddInsurerBranch";

}

<!--start row -->
<div id="divInsurerBranchAddPartial">
   @using (Html.BeginForm(GlobalConst.Actions.FileController.AddInsurerBranch, GlobalConst.Controllers.File, System.Web.Mvc.FormMethod.Post, new
{
    id = "frmAddInsurerBranch",
    enctype = "multipart/form-data",
    data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){AddInsurerBranchName(responseText);},beforeSubmit : InsurerBranchInfoFormBeforeSubmit}"
}))
   {
    <div class="panel-wrapper">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Add Insurer Branch </div>
            <div class="panel-body">
                <div class="col-md-2"><label> Branch Name :</label> </div>
                <div class="col-md-10">
                    <div class="form-group col-md-10">
                        <input autocomplete="off" type="text" name="InsurerBranchName" id="AddInsurerBranchName" class="form-control" data-bind="jqBootstrapValidation: {}" placeholder="Insurer Branch Name" required="required">
                        <input type="hidden" class="form-control" name="InsurerId" id="InsurerIdPop">
                    </div>
                    <button class="btn btn-default padding-btn color-black pull-right margin-btm-30" type="submit">Save</button>
                </div>
            </div>

        </div>
    </div>
   }
    <!-- row-end -->
</div><!-- /inner-wrapper -->
