@using System.Web.Script.Serialization
@using LMGEDIApp.Infrastructure.Global;
@{
    Layout = null;
}
<div id="divInvoice">
    @using (Html.BeginForm(GlobalConst.Actions.FileController.AddInvoice, GlobalConst.Controllers.File, System.Web.Mvc.FormMethod.Post, new
{
    id = "frmInvoiceDetail",
    enctype = "multipart/form-data",
    data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){AddInvoiceSuccess(responseText);},beforeSubmit : InvoiceInfoFormBeforeSubmit}"
}))
    {
        <div class="row">
            <div class="col-lg-12 client-accordian">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading11">
                        <h4 class="panel-title">
                            Invoice

                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
                        <div class="panel-body row">
                            <div class="col-sm-6">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Invoice Number :</label>
                                    <div class="col-sm-7">
                                        <input type="hidden" data-bind="value:FileID" name="Invoice.FileID" id="hidInvoiceFileID" />
                                        <input type="hidden" id="HFInvoiceID" data-bind="value:InvoiceID" name="Invoice.InvoiceID" />
                                        <input type="hidden" id="hidDatabase" value="A" />
                                        <input type="text" class="form-control" required="required" data-bind="value:InvoiceNumber, jqBootstrapValidation: {}" name="Invoice.InvoiceNumber" maxlength="25">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Invoice Amt ($):</label>
                                    <div class="col-sm-7">
                                        <input type="hidden" id="hidInvoiceAmt" data-bind="value:hidInvoiceAmount" />
                                        <input autocomplete="off" type="text" class="form-control"  id="InvoiceAmount" required="required" data-bind="value:InvoiceAmt,jqBootstrapValidation: {} " data-validation-regex-regex="\d+(\.\d{1,2})?" maxlength="10" name="Invoice.InvoiceAmt">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Invoice Date :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control datepicker" required="required" data-validation-regex-message="MM/DD/YYYY" data-validation-regex-regex="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d+$" data-bind="value:InvoiceDate,jqBootstrapValidation: {},mask : '99/99/9999'" name="Invoice.InvoiceDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 deptToggle">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Invoice Sent :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control datepicker"  data-validation-regex-message="MM/DD/YYYY" data-validation-regex-regex="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d+$" data-bind="value:InvoiceSent,jqBootstrapValidation: {},mask : '99/99/9999'" name="Invoice.InvoiceSent" id="InvoiceSent">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 deptToggle">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Billing Week :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control datepicker" data-validation-regex-message="MM/DD/YYYY" data-validation-regex-regex="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d+$" data-bind="value:BillingWeek,jqBootstrapValidation: {},mask : '99/99/9999'" name="Invoice.BillingWeek">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Department :</label>
                                    <div class="col-sm-7">
                                        <select required="required" class="form-control" id="InvoiceDepartment" name="Invoice.DepartmentId"
                                                data-bind="options: Departments, optionsText: 'DepartmentName',value:selectedDepartment,
                                   optionsValue: 'DepartmentId',optionsCaption: 'Select Any Option'"></select>
                                        <input type="hidden" name="Invoice.DepartmentId" value="5" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Adjustment Amt($):</label>
                                    <div class="col-sm-7">
                                        <input autocomplete="off" type="text" class="form-control" id="AdjustmentAmt" data-bind="value:AdjustmentAmt" data-validation-regex-regex="\d+(\.\d{1,2})?" maxlength="10" name="InvoiceAdjustment.AdjustmentAmt">
                                        <input type="hidden" id="CreatedBy" name="InvoiceAdjustment.CreatedBy" value=@Session[GlobalConst.SessionKeys.userID] />
                                        <input type="hidden" id="hidAdjustmentAmt" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Balance Amt($):</label>
                                    <div class="col-sm-7">
                                        <input autocomplete="off" type="text" class="form-control" id="InvoiceBalanceAmt" disabled="disabled" data-bind="value:InvoiceBalanceAmt,jqBootstrapValidation: {} " data-validation-regex-regex="\d+(\.\d{1,2})?" maxlength="10">
                                        <input type="hidden" id="hidInvoiceBalanceAmt" name="Invoice.InvoiceBalanceAmt" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 icUploadFile">
                                <div class="form-group row label-font clearfix">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Upload :</label>
                                    <div class="col-sm-7">
                                        <input type="file" class="form-control fileuploadborder" name="Invoice.UploadFile" id="UploadFile" />
                                        <input type="hidden" name="Invoice.InvoiceFileName" id="InvoiceFileName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label class="col-sm-2 control-label">Adjustment Notes :</label>
                                    <div class="col-sm-9">
                                        <textarea rows="4" class="form-control resizenone" name="InvoiceAdjustment.AdjustmentNotes" type="text" data-bind="value:AdjustmentNotes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- col-lg-12 -->
        </div><!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-default padding-btn color-black pull-right margin-btm-30" type="submit">Save</button>
                <button class="btn btn-default padding-btn color-black pull-right margin-left-20 margin-btm-30" data-dismiss="modal" id="CloseInvoicePartial" style="visibility:hidden;display:none;" aria-hidden="true" type="button">Cancel</button>
            </div>
        </div>
    }
    <!--ko if:(DepartmentId() != 5)-->
    <div id="invoiceAdjusterGrid" class="row">
        <div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="white-background">

                        <table class="table table-bordered table-striped table-condensed home-table">
                            <thead>
                                <tr>
                                    <th class="col-sm-3">Adjuster First Name</th>
                                    <th class="col-sm-3">Adjuster Last Name</th>
                                    <th class="col-sm-3">Adjuster Phone</th>
                                    <th class="col-sm-3">Adjuster Email </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-3"><span data-bind="text: AdjusterFirstName()" /></td>
                                    <td class="col-sm-3"><span data-bind="text: AdjusterLastName()" /></td>
                                    <td class="col-sm-3"><span data-bind="text: AdjusterPhone()" /></td>
                                    <td class="col-sm-3">
                                        <a class="inner-content-link right_blue  text-deco" data-bind="text:AdjusterEmail(), attr:{href:'mailto:'+AdjusterEmail()+''}"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- white-background -->
                </div><!-- col-sm-12 -->
            </div>
        </div>
    </div>
    <div id="divInvoiceNotes">
        <div class="row">
            <div class="col-lg-12 client-accordian">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading11">
                        <h4 class="panel-title">
                            Notes

                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
                        <div class="panel-body row">
                            <div class="col-sm-12">
                                <div class="form-group row label-font clearfix">
                                    <label class="col-sm-2 control-label">Invoice Notes :</label>
                                    <div class="col-sm-9">
                                        <textarea rows="4" class="form-control resizenone" type="text" required="required" data-bind="value:InvoiceNote,jqBootstrapValidation: {} "></textarea>
                                        <input type="hidden" name="InvoiceID" data-bind="value:InvoiceID" />
                                        <input type="hidden" id="UserID" name="UserID" value=@Session[GlobalConst.SessionKeys.userID] />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- col-lg-12 -->
        </div><!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-default padding-btn color-black pull-right margin-btm-30" data-bind="click:$root.saveInvoiceNote" type="submit">Save</button>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="white-background">

                            <input type="hidden" name="Skip" id="hidskipNotes" data-bind="value: $root.SkipNotes" />
                            <table class="table table-bordered table-striped table-condensed home-table">
                                <thead>
                                    <tr>
                                        <th class="col-sm-6">Notes</th>
                                        <th class="col-sm-6">User</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!--ko if:InvoiceNoteDetails!= null-->
                                    <!-- ko foreach:InvoiceNoteDetails -->
                                    <tr>
                                        <td class="col-sm-6">
                                            <span data-bind="text:InvoiceNotes()" />
                                        </td>
                                        <td class="col-sm-6">
                                            <span data-bind="text:UserName()" />
                                        </td>
                                    </tr>
                                    <!--/ko-->
                                    <!--/ko-->

                                </tbody>
                                <tfoot>
                                    <!--ko if:(InvoiceNoteDetails().length== 0)-->
                                    <tr>
                                        <td colspan="5">
                                            <div class="alert alert-info">
                                                <button type="button" class="close" data-dismiss="alert">
                                                    &times;
                                                </button>
                                                No Result Found.
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tfoot>
                            </table>
                            <nav class="margin-left">
                                <!-- ko if:PagerNotes().TotalItemCountNotes() > 0 -->
                                <div class="pagination" data-bind="with: PagerNotes">

                                    <div class="pagexofx">
                                        <span data-bind="text:FirstItemIndexNotes"></span>
                                        -
                                        <span data-bind="text: LastItemIndexNotes"></span>
                                        of
                                        <strong>
                                            <span data-bind="text: TotalItemCountNotes"></span>
                                        </strong>
                                        total results.
                                    </div>
                                    <ul class="pagination">
                                        <!-- ko if:CurrentPageNotes() === 1 -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&laquo;&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:CurrentPageNotes() === 1 -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ CurrentPageNotes(1); }">&laquo;&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if:HasPrevPageNotes -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ CurrentPageNotes(CurrentPageNotes() - 1); }">&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:HasPrevPageNotes -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko foreach:PagesNotes -->
                                        <!-- ko if:$data === $parent.CurrentPageNotes() -->
                                        <li class="active">
                                            <span class="currentPage" data-bind="text: $data"></span>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if:$data !== $parent.CurrentPageNotes() -->
                                        <li>
                                            <a href="#" data-bind="text: $data, click: function(){ $parent.CurrentPageNotes($data); }"></a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if:HasNextPageNotes -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ CurrentPageNotes(CurrentPageNotes() + 1); }">&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:HasNextPageNotes -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:CurrentPageNotes() === LastPageNotes() -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ CurrentPageNotes(LastPageNotes()); }">&raquo;&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if:CurrentPageNotes() === LastPageNotes() -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&raquo;&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                    </ul>

                                </div>
                                <!-- /ko -->
                                @*@Html.Partial("~/Views/Shared/_Paging.cshtml")*@
                            </nav>
                        </div><!-- white-background -->
                    </div><!-- col-sm-12 -->
                </div>


            </div>

        </div>
    </div>
    <!--/ko-->
    <!--ko if:(DepartmentId() == 5)-->
    <div class="row">
        <div class="col-sm-12 margintop30">
            <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table" style="margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th style="width:20%;">File</th>
                            <th style="width:20%;">Claim</th>
                            <th style="width:20%;">Invoice</th>
                            <th style="width:20%;">Amount</th>
                            <th style="width:20%;">IC Amount</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <div style="height:auto;overflow-y:scroll;background-color:#fff; max-height:300px;">
                <table class="table table-bordered table-striped table-condensed home-table">

                    <tbody>
                        <!--ko if: AssignedICInvoices != null-->
                        <!-- ko foreach:AssignedICInvoices -->
                        <tr>
                            <td style="width:19.7%;" data-bind="text:FileFullName"></td>
                            <td style="width:19.9%;" data-bind="text:ClaimNumber"></td>
                            <td style="width:19.6%;" data-bind="text:InvoiceNumber"></td>
                            <td style="width:19.6%;" data-bind="text:'$'+formatMoney(InvoiceAmt().toFixed(2))"></td>
                            <td style="width:19%;" data-bind="text:'$'+formatMoney(InvoiceICAmt().toFixed(2))"></td>
                        </tr>
                        <!--/ko-->
                        <!--/ko-->
                    </tbody>
                    <tfoot>
                        <!--ko if:(AssignedICInvoices().length == 0)-->
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert">
                                        &times;
                                    </button>
                                    No Result Found.
                                </div>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--/ko-->
</div>
